@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 

  
}
/* Line-under effect */
.line-under {
  position: relative; /* Parent must have relative positioning */
}

.line-under::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust this to align with navbar bottom */
  left: 0;
  right: 0;
  height: 2px; /* Line thickness */
  background-color: #8DD3BB; /* Line color */
  transform: scaleX(0); /* Initially hidden */
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.line-under:hover::after {
  transform: scaleX(1); /* Line expands on hover */
}
html {
  scroll-behavior: smooth;
}

/* Webkit Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #8DD3BB;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8DD3BB;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #68b2a0;
}

/* Firefox Scrollbar Styling */
html {
  scrollbar-width: thin;
  scrollbar-color: #8DD3BB #f1f1f1;
}
