@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 

  
}
/* Line-under effect */
.line-under {
  position: relative; /* Parent must have relative positioning */
}

.line-under::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust this to align with navbar bottom */
  left: 0;
  right: 0;
  height: 2px; /* Line thickness */
  background-color: #8DD3BB; /* Line color */
  transform: scaleX(0); /* Initially hidden */
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.line-under:hover::after {
  transform: scaleX(1); /* Line expands on hover */
}
html {
  scroll-behavior: smooth;
}

