# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.Python
*.sqlite3

# Virtual Environment
.venv/
env/
venv/

# Alembic Cache
alembic/versions/*.pyc

# Environment Variables
.env

# IDE Settings
*.idea/
*.vscode/
