/* Hover underline positioned at the bottom of the navbar */
.hover\\:line-under::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px; /* Adjust the distance from the element to align with the navbar bottom */
  height: 2px; /* Line thickness */
  background-color: #8DD3BB; /* Line color */
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.hover\\:line-under:hover::after {
  transform: scaleX(1);
}

/*
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo Styles */ /*
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1a202c;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-icon {
  font-size: 1.2rem;
  color: #f59e0b;
  margin-left: 0.2rem;
}

/* Toggle Button Styles 
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
}

/* Navigation Menu 
.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: #1a202c;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
  color: #000000;
  background-color: #ffa500; /* Orange 
  border-radius: 5px;
}

.sign-up {
  padding: 0.5rem 1rem;
  border: 2px solid #000000;
  border-radius: 5px;
  color: 6366f1;
  transition: all 0.3s ease;
}

.sign-up:hover {
  background-color: #ffa500; /* Orange 
  color: #fff;
}

/* Language Selector 
.language-selector {
  margin-left: 2rem;
  position: relative;
}

.chevron {
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

 Responsive Design 
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #e0e0e0;
  }

  .nav-menu.active {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin: 1rem 0;
    text-align: center;
  }
}*/
